doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards
            br
            | From all
            br
            |
            a(href="http://exampe.com") Click here

